/* #1a1d2c */

body{
    overflow: hidden;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #1a1d2c;
    position: relative;
    display: flex;
    align-items: center;
}

.innerLeft{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #27ae5f;
    height: 100vh;
    width: 15%;
}

.innerCenter{
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 15%;
}

.imgContainer{
    height: 80vh;
    width: 22vw;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./assets/images/uuuyy-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 0.5em;
}

.displayNone{
    display: none;
}

.innerCenterContent{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 60%;
    justify-content: space-between;
}

.about{
    width: 250px;
}

.mainHeaderAbout{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    width: 210px;
    letter-spacing: 0.025em;
}

.aboutP{
    color: white;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.mainHeaderAbout b{
    color: #27ae5f;
    font-weight: 700;
    
}

.aboutBtn{
    background-color: transparent;
    border: 1px solid #27ae5f;
    border-radius: 30vh;
    padding: 10px 20px;
    width: 90px;
    display: flex;
    margin-top: 10%;
    position: relative;
}

.fa-solid{
    font-size: 13px;
}

.icon{
    position: absolute;
    right: 0;
    background-color: #27ae5f;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutBtn button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

.btns{
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background border 0.3s ease-in-out;
}

.btns:hover{
    background-color: #27ae5f;
    border: 1px solid #27ae5f;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav ul li{
    list-style: none;
}  

.contactDiv{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-weight: 300;
}

.contactDiv span, .contactDiv div a{
    color: white;
    font-size: 13px;
    margin-left: 20px;
    text-decoration: none;
}